body{
    
    color: #1a202c;
    text-align: left;
    background-color: white; 
    padding-right: 0%;   
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color:  #e2e8f0;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}


.mb-3, .my-3 {
    margin-bottom: 1rem!important;
    
    
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
.btn {
    background-color: #08090a;  
    border: 0 solid rgba(0,0,0,.125);
    color: #e2e8f0;
   
    
   
}
.btn:hover {
    background-color: #c7cbd1;
    color: #08090a;
    border-color: #070d13;
    
    
  }
  .btn:focus{
    background-color: #c7cbd1;
    border-color: #070d13;
    color: #08090a;
    
  }


.text-center{
    text-align:center;
    font-size:200%;
    font-style:normal;
    
}
.nav-bar{
    background-color:#c7cbd1;
    border-radius: .25rem;
    
    
}
.icon{
    
   
     padding-right: 60pc;
   
    
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #e2e8f0 ;
    
    
  }
  
 th, td {
    
    padding: 8px;
    text-align: center;
    border: 1px solid rgb(14, 12, 12) ;
  }
  
  /* tr:nth-child(even){background-color: white} */

  .navBarList{
      background-color: #08090a;
      height: 80px;
      
      
      
      

  }
  h2{
      color: white;
      text-align: center;
      font-style:normal;
      
      
    
  }
.row1{
    width: 15%;

}
.row2{
    width: 20%;
    padding-left: 3pc;
    
}
.row3{
    width: 30%;
    
    
}
.nomDept{
    background-color: #e2e8f0;
    font-style: italic;
}

.bis{
    color: #08090a;
    cursor: pointer;
   
    
}
.bim{
    color: #08090a;
    padding-right: 1pc
     
    
}
.bis:hover{
    color: rgb(158, 8, 8);
    
}
.bim:hover{
    color: rgb(83, 83, 201);
    display: inline-block;
}
.bia{
    color: white;
    padding: 8px , 8px ,80px ;
    padding-left: 1280px; 
   
    
}
.new:hover{
    color: white;
}
.tabhead{
    background-color: #c7cbd1; 
}
.mb-0{
    text-align: start;
    margin-left: 6px;
}

.card-body-profil{
    height: 470px;
}

.bi{
    cursor: pointer;
}
.modelBox{
    position:absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40pc;

  background-color: white;
  border: 2px solid #000;
  box-shadow: 24;
  padding: 10px;
}
.modelBox2{
    
        position:absolute;
        top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30pc;
      height: 15pc;
    
      background-color: white;
      border: 2px solid #000;
      box-shadow: 24;
      padding: 10px
}





